<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <div class="row">
                <div class="col-md-10">
                    <h2 class="mt-4">{{ question.content }}</h2>
                </div>
                <div class="col-md-1 mt-5">
                    <a href="javascript:;" (click)="redirectQuestions()">
                        Voltar
                    </a>
                </div>
            </div>

            <p class="lead">
                por {{ question.user }}
            </p>

            <hr>

            <p>Postado em {{ question.creationDate | date: 'dd/MM/yyyy' }}</p>

            <hr>

            <div class="card my-4">
                <h5 class="card-header">Deixe um comentário:</h5>
                <div class="card-body">
                    <form class="user" [formGroup]="answerForm" (submit)="postAnswer()">
                        <div class="form-group">
                          <input
                            formControlName="user"
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Nome">
                        </div>
                        <div class="form-group">
                          <input
                            formControlName="content"
                            type="content"
                            class="form-control form-control-user"
                            placeholder="Responda a pergunta">
                        </div>
                        <input
                            type="hidden"
                            name="question"
                            formControlName="question">
                        <button
                          [disabled]="answerForm.invalid"
                          type="submit"
                          class="btn btn-primary btn-user btn-block">
                          Submit
                        </button>
                    </form>
                </div>
            </div>

            <div class="media mb-4" *ngFor="let data of question.answer">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">{{ data.user }}</h5>
                    {{ data.content }}
                </div>
            </div>
        </div>
    </div>
</div>
