<!-- <button (click)="getQuestions()" >teste</button> -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="card my-4">
                <h5 class="card-header">Crie uma pergunta:</h5>
                <div class="card-body">
                    <form class="user" [formGroup]="questionForm" (submit)="postQuestion()">
                        <div class="form-group">
                          <input
                            formControlName="user"
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Seu nome">
                        </div>
                        <div class="form-group">
                          <input
                            formControlName="content"
                            type="text"
                            class="form-control form-control-user"
                            placeholder="Pergunta">
                        </div>
                        <button
                          [disabled]="questionForm.invalid"
                          type="submit"
                          class="btn btn-primary btn-user btn-block">
                          Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div *ngIf="questions.length == 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                {{ error }}
            </div>

            <div class="col-md-2"></div>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <div class="row" *ngFor="let data of questions" >
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <ul class="list-group">
                    <li (click)="openQuestion(data.id)" class="list-group-item">
                        <small>{{ data.user }}</small><br>
                        <span>{{ data.content }}</span><br>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M15 1H6c-.55 0-1 .45-1 1v2H1c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h1v3l3-3h4c.55 0 1-.45 1-1V9h1l3 3V9h1c.55 0 1-.45 1-1V2c0-.55-.45-1-1-1zM9 11H4.5L3 12.5V11H1V5h4v3c0 .55.45 1 1 1h3v2zm6-3h-2v1.5L11.5 8H6V2h9v6z"></path></svg>
                        <small> {{ data.answer }} respostas</small>
                    </li>
                </ul>
            </div>

            <div class="col-md-2"></div>
        </div>
    </ng-template>
</div>
