<div [ngClass]="loading$ | async">
    <div id="loading-bar" class="ng-animate ng-leave ng-leave-active" data-ng-animate="2">
        <div class="bar" style="width: 100%;z-index:9999999999">
            <div class="peg" style="z-index:9999999999"></div>
        </div>
    </div>
    <div id="bc-loading" style="z-index:9999999999" class="ng-animate ng-leave ng-leave-active" data-ng-animate="2">
        <!-- <?xml version="1.0" encoding="utf-8"?> -->
        <div class="loading" id="loading-bar" style="z-index:9999999999">
            <div class="escala">
                <svg class="mm" version="1.1" style="max-height: 500px;" id="Camada_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">
                    <g class="opacidade">

                        <path class="m  "
                            d="M365,483.8c29.8-16,50-47.4,50-83.6c0-52.4-42.5-94.9-94.9-94.9s-94.9,42.5-94.9,94.9 c0,36.2,20.2,67.6,50,83.6" />

                    </g>
                    <g class="opacidade">
                        <circle class="circulodois" cx="320.1" cy="400.8" r="51" />

                        <circle class="circulodois" cx="320.1" cy="218.8" r="51" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>
